.popular-articles {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100vw - 71px);
    margin: 5rem 0 5rem 0;
    padding: 2rem 0;
}

@media (max-width: 1200px) {
    .popular-articles {
        scrollbar-color: #201c29;
        scrollbar-width: 10px;
        width: 100%;
        padding-bottom: 2rem;
        margin-bottom: 6rem;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        -ms-scroll-snap-points-x: repeat(250px);
        scroll-snap-points-x: repeat(250px);
        -ms-scroll-snap-type: mandatory;
        scroll-snap-type: mandatory;
    }
    .popular-articles::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    .popular-articles::-webkit-scrollbar-thumb {
        background: #201c29;
        border-radius: 10px;
        -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
        box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
    }
    .popular-articles::-webkit-scrollbar-track {
        background: linear-gradient(to right, #201c29, #201c29 1px, #17141d 1px, #17141d);
    }
    .popular-articles .mini-card {
        scroll-snap-align: start;
    }
}

@media (max-width: 1200px) {
    .popular-articles {
        padding-left: 0;
    }
}

.popular-header {
    margin: 3rem 0;
}

.popular-header .edit-popular {
    position: absolute;
    top: 5px;
    right: 5px;
}

.header-card {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ff8a00), to(#da1b60));
    background-image: linear-gradient(to top, #ff8a00, #da1b60);
    position: relative;
    border-radius: 16px;
    padding: 2rem;
    margin: 0 4rem 0 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 320px;
    flex: 0 0 320px;
}

.header-card p {
    margin: 0;
    font-size: 0.8rem;
}

#specialLink{
    display: none;
}

#specialLink2{
    display: block;
}

@media (max-width: 1200px) {
    .header-card {
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-box-flex: 0;
        -ms-flex: 0;
        flex: 0;
        width: 110px;
        margin-right: 1rem;
    }
    .header-card br {
        display: none;
    }
    .header-card a::after {
        display: none;
    }
    #specialLink{
        display: block;
        -webkit-writing-mode: horizontal-tb;
        writing-mode: horizontal-tb;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        position: absolute;
        top: 85%;
        left: 10%;
        width: 80%;
        padding: 10px;
        color: #060f83 !important;
        border-color: #060f83 !important;
        border-radius: 1rem;
    }
    #specialLink2{
        display: none;
    }
    .header-card-title{
        margin: 0 0 0.5rem 1rem !important;

    }
}

.header-card-title {
    font-size: 1.6rem !important;
    margin: 0 0 0.5rem 0;
}

.white-underline-links a {
    position: relative;
    font-weight: 700;
}

.white-underline-links a::after {
    content: "";
    height: 2px;
    background: #fff;
    width: 100%;
    position: absolute;
    bottom: -2px;
    left: 0;
    border-radius: 2px;
}

.white-underline-links a:focus,
.white-underline-links a:hover {
    color: inherit !important;
    -webkit-text-fill-color: inherit !important;
}

.white-underline-links a:focus::after,
.white-underline-links a:hover::after {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
}

.tags {
    margin: 1rem 0 2rem 0;
    padding: 1.5rem 0 1rem;
    line-height: 1.8;
    display: flex;
    margin-top: 10px;
    align-items: start;
    height: fit-content;
}

@media (max-width: 800px) {
    .tags {
        margin: 0;
    }
}

.tags a {
    color: #7a7a8c;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 10px !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 18px !important;
    white-space: nowrap;
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: 0.22rem 1.5rem 0.25rem 1.5rem;
}

.tags a:focus,
.tags a:hover {
    border-color: #fff;
    position: relative;
    cursor: pointer;
    background: linear-gradient(to right, rgb(255, 138, 0), rgb(218, 27, 96));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mini-card-grid {
    scrollbar-color: #201c29;
    scrollbar-width: 10px;
    scrollbar-gutter: always;
    padding: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.mini-card-grid::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.mini-card-grid::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.mini-card-grid::-webkit-scrollbar-track {
    background: linear-gradient(to right, #201c29, #201c29 1px, #17141d 1px, #17141d);
}

@media (max-width: 1200px) {
    .mini-card-grid {
        overflow-x: visible;
    }
}

.mini-card {
    min-width: 300px;
    min-height: 350px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    -webkit-box-shadow: -1rem 0 3rem #000;
    box-shadow: -1rem 0 3rem #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    margin: 0;
}

.mini-card h2 {
    font-size: 20px;
    margin: 0.25rem 0 auto 0;
    font-family: 'poppins';
}

.mini-card:not(:first-child) {
    margin-left: -130px;
}

.mini-card .tags a {
    font-size: 0.5rem;
}

.mini-card:focus-within,
.mini-card:hover {
    -webkit-transform: translate(0, -1rem);
    transform: translate(0, -1rem);
}

.mini-card:focus-within~.mini-card,
.mini-card:hover~.mini-card {
    -webkit-transform: translateX(130px);
    transform: translateX(130px);
}

@media (max-width: 1200px) {
    .mini-card {
        min-width: 220px;
    }
    .mini-card:not(:first-child) {
        margin-left: -30px;
    }
    .mini-card:hover {
        -webkit-transform: translate(0, -1rem);
        transform: translate(0, -1rem);
    }
    .mini-card:hover~.mini-card {
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
    }
}

@media (max-width: 800px) {
    .mini-card {
        min-width: 190px;
    }
    .mini-card:not(:first-child) {
        margin-left: -10px;
    }
    .mini-card:hover {
        -webkit-transform: translate(0, -1rem);
        transform: translate(0, -1rem);
    }
    .mini-card:hover~.mini-card {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

.mini-article-card-header {
    margin-bottom: auto;
    /* margin-top: 12px; */
    text-align: start;
}

.mini-article-meta {
    margin-top: 10px;
    font-size: 14px;
}

.mini-article-meta .author-name {
    display: block;
    position: relative;
}

.mini-article-meta .author-avatar img {
    width: 40px;
    height: 40px;
}

.mini-article-meta .author-avatar .half-circle {
    width: 60px;
    height: 48px;
}









@media print {
    #respond,
    .button,
    .comment-reply-link,
    .commentPreviewButton,
    .cp_embed_wrapper>iframe,
    .google-ad,
    .header-gradient-after,
    .mega-header::before,
    .related-ads-comments-wrap,
    .related-posts,
    .search,
    .sharedaddy,
    .site-header,
    .tags,
    .view-comments-button,
    .win-size-grip,
    [class*="bsa"],
    aside,
    footer,
    header.top,
    nav,
    svg {
        display: none !important;
    }
    .cp_embed_wrapper {
        height: auto !important;
    }
    .cp_embed_wrapper::before {
        content: "Embedded Pen Here";
        border: 1px solid #ccc;
        margin: 2rem 0;
        display: block;
        padding: 2rem;
        text-align: center;
    }
    #respond {
        page-break-before: always;
    }
    body {
        background: 0 0;
    }
    .article-and-sidebar {
        display: block;
        width: 100%;
        padding: 0;
        max-width: 100%;
    }
    .header-breadcrumbs,
    a,
    code,
    code span,
    html,
    pre,
    pre::before,
    time {
        background: 0 0 !important;
        color: #000 !important;
    }
    pre {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }
    .article-content a::after {
        content: " (" attr(href) ") ";
    }
}



.club-heading{
    font-size: 25px !important;
    font-family: 'poppins';
    font-weight: 700;
    text-align: left;
    /* margin: -20px 0 10px 20px;   */
}

@media (min-width: 1200px) {
    .club-heading{
        font-size: 32px !important;
        font-family: 'poppins';
        font-weight: 700;
        text-align: left;
        margin: 0 0 50px 20px;
    }
}

.club-card{
    padding: 30px;
    justify-items: left;
}

.read-article{
    text-decoration: none;
    font-size: 20px;
    font-family: 'poppins';
    color: #fff;
    line-height: 23px;
    text-shadow: #fff 2px;
    font-weight: 700;
}

.read-article:hover{
    cursor: pointer;
    background: linear-gradient(to right, rgb(255, 138, 0), rgb(218, 27, 96));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#specialLink2{
    font-size: 13.2px !important;
    line-height: 23.76px !important;
    font-weight: 700 !important;
}
