body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    position: relative;
    display: inline-block;
    margin: 10px;
    margin-bottom: 28px;
    border-left: 1px solid rgba(255, 81, 0, 0.986);
    border-right: 1px solid rgba(255, 81, 0, 0.986);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.card img{
    display: block;
}
.card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: rgba(255, 81, 0, 0.986); /* You can change the color to your preference */
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.card:hover::after {
transform: scaleX(1);
}
  

  
  /* Cool heading styles */
  .heading {
    text-align: center;
    background-color: #353535;
    color: #fff;
    padding: 20px;
    font-size: 36px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out;
  }
  
  /* Animation styles for the cool heading on hover */
  .heading:hover {
    background-color: #565656;
  }
  
  .heading::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transform: skewX(-30deg);
    transition: transform 0.3s ease-in-out;
  }
  
  .heading:hover::before {
    left: 100%;
  }

