@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');
.swiper-container-h {
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/about.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: right;
}

.section-news {
    &__heading {
        font-family: 'VT323', monospace;
        font-size: 4.5rem;
        display: block;
    }
    margin-bottom: 2rem;
    padding-top: 1.5rem;
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right bottom,
    #300A24,
    #300A24);
    @include respond(tab-port) {
        padding-top: 1.5rem;
    }
    @include respond(phone) {
        padding-top: 1.5rem;
        margin-bottom: 0rem;
    }
    &__content {
        padding: 1rem;
        font-size: 2rem;
        text-align: left;
        display: block;
        border-radius: 10px;
        left: 50%;
        height: calc((100% - 14rem));
        top: 0%;
        transform: translate(-50%, 0%);
        margin-top: 11rem;
        position: absolute;
        width: 95%;
        color: #070c24;
        background-image: linear-gradient(to right bottom, #300A24, #300A24);
        // border-style: solid;
        // border-color: $color-primary-light;
        // border-width: 5px;
        & .data {
            width: 100%;
            height: 100%;
            overflow-y: auto;
        }
        @include respond(tab-land) {
            height: calc((100% - 15rem));
            top: 0%;
            left: 50%;
            transform: translate(-50%, 0%);
            margin-top: 11rem;
        }
        // @include respond(tab-port) {
        //     height: calc((100% - 15rem));
        //     top: 0%;
        //     left: 50%;
        //     transform: translate(-50%, 0%);
        //     margin-top: 11rem;
        // }
        // @include respond(phone) {
        //     height: calc((100% - 15rem));
        //     top: 0%;
        //     left: 50%;
        //     transform: translate(-50%, 0%);
        //     margin-top: 11rem;
        // }
        .swiper-container-v {
            width: 100%;
            height: 100%;
            .swiper-slide {
                font-size: 18px;
                height: auto;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                padding: 30px;
            }
        }
    }
}

.section-about {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    min-height: fit-content !important;
    position: relative;
    @include respond(phone) {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    &__content {
        width: 100%;
        position: relative;
        z-index: 10;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    &__layer {
        transform-origin: bottom;
        position: absolute;
        bottom: 0px;
        right: 0px;
        z-index: 0;
        width: 95%;
        height: 100%;
        background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        -webkit-clip-path: polygon(19% 35%, 93% 69%, 82% 100%, 8% 100%, 0 70%);
        clip-path: polygon(19% 35%, 93% 69%, 82% 100%, 8% 100%, 0 70%);
        @include respond(phone) {
            display: none;
            visibility: hidden;
        }
    }
    @include respond(tab-port) {
        padding: 5rem 0;
    }
}

.hide {
    @include respond(tab-port) {
        display: none;
        visibility: hidden;
    }
    @include respond(phone) {
        display: none;
        visibility: hidden;
    }
}

.parallax {
    background-image: url(../img/about.jpg);
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    min-height: 80%;
    width: 100%;
    opacity: 0.7;
}

.section-office {
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
    background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, 0.8), rgba($color-tertiary-dark, 0.8));
    padding: 7rem;
    background-size: cover;
    & .particles {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
    }
    @include respond(phone) {
        margin-bottom: 0rem;
    }
    @include respond(tab-land) {
        display: none;
        visibility: hidden;
    }
}

.section-office__res {
    @include respond(big-desktop) {
        display: none;
        visibility: hidden;
    }
    @include respond(tab-land) {
        display: block;
    }
    display: none;
    padding-top: 5rem;
    text-align: center;
    background-image: linear-gradient(to right bottom,
    rgba($color-tertiary-light, 0.8),
    rgba($color-tertiary-dark, 0.8));
    background-size: cover;
    height: fit-content;
    .swiper-container {
        width: 100%;
        height: 450px;
    }
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 290px;
        height: 360px;
    }
}

.section-events {
    backface-visibility: hidden;
    width: auto;
    height: 100vh !important;
    color: white;
    font-size: 1.7rem;
    text-align: center;
    position: relative;
    &__back--image {
        &--1 {
            display: block;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100% !important;
            height: 100% !important;
            background-image: url(../img/Amit3.png);
            background-position: bottom;
            background-size: cover;
        }
        &--2 {
            display: block;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100% !important;
            height: 100% !important;
            background-image: url(../img/Amit1.gif);
            background-position: bottom;
            background-size: cover;
            @include respond(tab-land) {
                display: none;
            }
        }
    }
    .event-heading {
        backface-visibility: hidden;
        display: inline-block;
        @include absCenter;
        z-index: 101;
    }
    &__content {
        position: absolute;
        top: 100%;
        display: block;
        z-index: 100;
        height: 100%;
        width: 100%;
        background-color: #070c24;
        &__card {
            width: 100%;
            display: flex;
            height: 80%;
            position: inherit;
            bottom: 0;
            justify-content: center;
            align-items: center;
            // @include respond(tab-port){
            //   justify-content: safe;
            // }
            &__container {
                margin-left: 50% !important;
                transform: translateX(-50%) !important;
                background-color: #fff;
                // width: 59rem;
                // height: 40rem;
                width: 62rem;
                height: 43rem;
                display: flex;
                position: relative;
                @include respond(tab-port) {
                    width: 47rem;
                    height: 32rem;
                }
                @include respond(phone) {
                    width: 45rem;
                    height: 30rem;
                }
                .imgBx {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 60%;
                    .imgBx--image {
                        height: 100%;
                        width: 100%;
                    }
                }
                .details {
                    letter-spacing: normal;
                    padding: 2rem;
                    color: #070c24;
                    position: absolute;
                    text-align: justify;
                    top: 0;
                    right: 0;
                    width: 45%;
                    font-size: 1.75rem;
                    @include respond(tab-port) {
                        padding: 1rem !important;
                    }
                    @include respond(phone) {
                        padding: 0.7rem !important;
                    }
                    & p {
                        @include respond(tab-port) {
                            font-size: 1.5rem !important;
                        }
                        @include respond(phone) {
                            font-size: 1.35rem !important;
                        }
                    }
                    & h3 {
                        @include respond(tab-port) {
                            font-size: 1.7rem !important;
                        }
                    }
                    & .btn-text {
                        font-size: 1.7rem;
                        &:link,
                        &:visited {
                            color: #fff !important;
                            background-color: $color-primary-light;
                        }
                        &:hover {
                            color: #fff !important;
                            background-color: $color-primary-light;
                        }
                    }
                }
            }
        }
    }
}

.section-committe {
    background-color: black;
    height: 100vh;
}

.section-clubs {
    text-align: center !important;
    background-color: #100e17;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
    @include respond(phone) {
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
    &__box {
        background-image: linear-gradient(to right bottom, rgba(234, 75, 54, 1), rgba(254, 136, 0, 1)) !important;
    }
    &__card {
        display: block;
        width: 100%;
        height: 600px;
        overflow-y: hidden;
        &:last-child {
            margin-top: -70px;
        }
    }
}

.section-gallery {
    border-style: dashed;
    color: black !important;
    text-align: center !important;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    @include respond(phone) {
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
}